body{
	background-color: black;
}

h1, h2, h3, h4, h5, h6, button, label, input[type="submit"]{
	font-family: 'Bree Serif', serif;
}

#social-container{
	background-color: white;
}

#social-container a{
	color: #e75e13;
}

#logo-container .callout{
	background-color: white;
	color: black;
	margin-bottom: 0;
	border: 0px;
	border-radius: 0px;
}

#menu-container {
	background-color: white;
}

#menu-container	li a::after{
	border-color: #e75e13 transparent transparent;
}

#menu-container	li a{
	color: black;
	font-family: 'Bree Serif', serif;
	text-transform: uppercase;
}

#submenu-container{
	border: 0;
}

#menu-container	li a:hover,
#submenu-container li a:hover {
	color: #ef9212; /* hover de elementos del menú */
}

#submenu-container li a {
	background-color: white;
	color: black;
}

#promo-action .callout{
	background-color: white;
	color: black;
	margin-bottom: 0;
	border: 1px solid black;
	border-radius: 0px;
}

#promo-action .callout button{
	color: white;
	border: 1px solid #e75e13;
	background-color: #e75e13
}

#sandwich-container{
	padding: 1em 0;
}

#sandwich-container,
#sandwich-container .tabs-panel,
#sandwich-container .tabs,
#sandwich-container .tabs .tabs-title,
#sandwich-container .tabs .tabs-title.is-active a{
	background-color: white;
	color: black;
	border: 0;
	text-transform: uppercase;
	font-family: 'Bree Serif', serif;
}

.tabs-content{
	border: 0;
}

#sandwich-container .tabs .tabs-title a{
	font-size: 18px;
	color: black;
	font-family: 'Bree Serif', serif;
}

#sandwich-container .tabs .tabs-title a:hover{
	color: white;
	background-color: #ef9212;
}

.tabs-title{
	display: inline-block;
	float: none;
}

#sandwich-container .orbit-container{
	margin-bottom: 1em;
}

#sandwich-container .column:nth-child(odd) figcaption {
	text-align: right;
}

.orbit-container {
  height: auto !important;
}

.orbit-slide {
  max-height: none !important;
}

#promo-container {
	padding: 1em 0;
	background-color: #fefefe;
	color: #161742;
	border: 1px solid black;
}

.pricing-table {
	border: 1px solid #161742;
	font-family: 'Ravi Prakash', cursive;
}

.pricing-table li,
.pricing-table li.description {
	font-size: 20px;
}

.pricing-table li.price{
	font-size: 30px;
}

#info-container{
	background-color: #161742;
	color: white;
	padding: 1em 0;
}

#info-container .info-map iframe{
	width: 100%;
}

#solicitud-container{
	background-color: white;
	color: black;
	padding: 1em 0;
}

#solicitud-container h4 small{
	color: black;
}

#solicitud-container button.button{
	color: white;
	background-color: #e75e13;
}

#solicitud-container .error-container{
	font-family: 'Bree Serif', serif;
}

.data-sticky{
	width: 100%;
	z-index: 100;
}

#offCanvas,
#offCanvas li a{
	background-color: black;
	color: white;
	font-family: 'Bree Serif', serif;
}

#offCanvas .is-drilldown-submenu-parent > a::after{
	border-color: transparent transparent transparent white;
}

#offCanvas .js-drilldown-back > a::before {
	border-color: transparent white transparent transparent;
}

.news-image-gallery-container {
	border: 1px solid #e75e13;
	margin-bottom: 1em;
	padding-top: 1em;
}