/* pricing table */
.pricing-table {
  background-color: #fefefe;
  border: solid 1px #cacaca;
  width: 100%;
  text-align: center;
  list-style-type: none;
}

.pricing-table li {
  border-bottom: dotted 1px #cacaca;
  padding: 0.875rem 1.125rem;
}

.pricing-table li:last-child {
  border-bottom: 0;
}

.pricing-table .title {
  background-color: #0a0a0a;
  color: #fefefe;
  border-bottom: 0;
}

.pricing-table .price {
  background-color: #ef9212;
  font-size: 2rem;
  border-bottom: 0;
  color: white;
}

.pricing-table .description {
  color: #d4c8b9;
  font-size: 80%;
}

.pricing-table :last-child {
  margin-bottom: 0;
}

.pricing-table a.button{
  background-color: #e75e13;
}

@media screen and (max-width: 39.9375em) {
  .pricing-table .extra {
    font-size: 16px;
  }
}